@import url(http://weloveiconfonts.com/api/?family=zocial);

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #5f6268;
  font-weight: 300;
}

/* prevent inage overflow*/
img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #5d5f63;
}

/* set minimum touch targets */
@media only screen and (max-width: 750px){
  a {
    min-width: 48px;
    min-height: 48px;
  }

}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-height: 120px;
  border-bottom: solid;
  border-width: medium;
  border-color: #7d97ad;
  margin-bottom: 25px;
  padding: 5px;
}

.heading {
  text-align: right;
  width: 75%;
  text-transform: uppercase;
  height: auto;
  /* setting positioning for headings */
  position: relative;
}

h1 {
  padding-right: 4px;
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 100;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  padding-left: 2px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-size: 14px;
}

.featured {
  margin-top: 25px;
  margin-bottom: 0;
}

.lighter {
  color: #7d97ad;
}

.apps {
  margin-top: 0;
}

.logo {
  width: 25%;
  padding-bottom: 30px;
}

.entry {
  text-align: center;
}

.entry p {
  padding-left: 10px;
  padding-right: 10px;
}

/* dropping heading to the bottom of the div */
.heading .heading-contain {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 0;
  margin-bottom: -10px;
}

/* setting up git logo icon */
[class*="zocial-github"]:before {
  font-family: 'zocial', sans-serif;
  color: #ad4e0a;
}

/* Rules for displays over 600px */

@media only screen and (min-width: 600px) {
  .apps {
    display: flex;
    flex-wrap: nowrap;
    /* stretching divs so they all end at the same place
      needed to align links */
    align-items: stretch;
    width: 100%;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .logo img {
    max-height: 80%;
  }

  h1 {
    font-size: 50px;
    letter-spacing: 6px;
  }

  h3 {
    font-size: 26px;
    font-weight: 300;
  }

  h2 {
    font-size: 30px;
  }

  .entry {
    width: 33%;
    height: auto;
    /* setting up to tie links to bottom of div */
    position: relative;
  }

  .entry img {
    width: 97%;
    padding: 10px;
  }

/* dropping links to bottom center of div*/
  span.bottom {
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: auto;
  }
}

/* add margins over 960px */

@media only screen and (min-width: 960px) {
  .container {
    max-width: 960px;
    margin: auto;
  }
}
